<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfpSQ-mla8uih-8gR7rHAz6yuYJ_hIg5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>520935523382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.grounded.agrosky.agrosky.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agroskypea</string>
	<key>STORAGE_BUCKET</key>
	<string>agroskypea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520935523382:ios:d886b5bf6b4103ca50c497</string>
	<key>DATABASE_URL</key>
	<string>https://agroskypea-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>